@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';


.container {
    color: white;
}

.col-12 {
    border: 1px solid rgba(255, 255, 255, 0.514);
    border-bottom: 0;

    &:last-child {
        border: 1px solid rgba(255, 255, 255, 0.514);
    }
}


h6,
h3 {
    margin: 0;
}

body {
    background-color: blue;
}